<raptor-table v-bind:url="allURL" v-bind:preload="false" ref="load">
    <div slot="header">
        <div class="col-md-2 d-flex justify-content-end">
            <button id="show-modal" class="btn btn-outline-info btn-block" v-on:click="openModalCitaMedica">Nuevo</button>
        </div>
    </div>
    <template scope="props">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Asunto</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in citamedicas">
                    <td>
                        <span v-text="item.medico.nombre"></span><br>
                        <span v-text="item.medico.email"></span>
                    </td>
                    <td>
                        <span v-text="item.fechaInicio"></span>
                    </td>
                    <td>
                        <span v-text="item.fechaFin"></span>
                    </td>
                    <td>
                        <span v-text="item.asunto"></span>
                    </td>

                </tr>
            </tbody>
        </table>
    </template>
</raptor-table>
