<modal-vik ref="pacienteModal"
           v-bind="pacienteModal"
           v-bind:okaction="save">
    <div slot="body">
        <div class="card-body ">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" v-model='paciente.nombre' placeholder="Nombre"/>
            </div>
            <div class="form-group">
                <label for="nombre">Apellido</label>
                <input type="text" class="form-control" v-model='paciente.apellido' placeholder="Apellido"/>
            </div>
            <div class="form-group">
                <label for="nombre">Direccion</label>
                <input type="text" class="form-control" v-model='paciente.direccion' placeholder="direccion"/>
            </div>
            <div class="form-group">
                <label for="nombre">Telefono</label>
                <input type="text" class="form-control" v-model='paciente.telefono' placeholder="telefono"/>
            </div>
            <div class="form-group">
                <label for="nombre">Edad</label>
                <input type="text" class="form-control" v-model='paciente.edad' placeholder="Edad"/>
            </div>
            <div class="form-group">
                <label for="nombre">Correo</label>
                <input type="email" class="form-control" v-model='paciente.correo' placeholder="correo"/>
            </div>
            <div class="form-group">
                <label for="nombre">Password</label>
                <input type="password" class="form-control" v-model='paciente.password' placeholder="password"/>
            </div>
            
<!--            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input placeholder="Ingrese nombre" v-model="paciente.nombre" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label for="paterno">Apellido Paterno</label>
                <input placeholder="Ingrese paterno" v-model="paciente.paterno" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label for="materno">Apellido Materno</label>
                <input placeholder="Ingrese materno" v-model="paciente.materno" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input placeholder="Ingrese direccion" v-model="paciente.direccion" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input placeholder="Ingrese email" v-model="paciente.email" class="form-control" required="true"/>
            </div>
            <div class="form-group">
                <label for="nombre">Telefono</label>
                <input placeholder="Ingrese telefono" v-model="paciente.telefono" class="form-control" required="true"/>
            </div>-->
        </div>
    </div>
</modal-vik>