<raptor-table v-bind:url="allURL" v-bind:preload="false" ref="load">
    <template scope="props">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Paciente</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Asunto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in citamedicas">
                    <td>
                        <span v-text="item.medico.nombre"></span><br>
                        <small class="text-success text-uppercase">Correo: </small>
                        <span class="badge badge-primary" v-text="item.medico.email"></span>
                    </td>
                    <td>
                        <span v-text="item.usuario.nombre"></span><br>
                        <small class="text-success text-uppercase">Direccion: </small>
                        <span class="badge badge-primary" v-text="item.usuario.direccion"></span>
                    </td>
                    <td>
                        <span v-text="item.fechaInicio"></span>
                    </td>
                    <td>
                        <span v-text="item.fechaFin"></span>
                    </td>
                    <td>
                        <span v-text="item.asunto"></span>
                    </td>
                    <td class="d-flex justify-content-end">
                        <div class="btn-group dropleft">
                            <a data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v-alt"></i>
                            </a>
                            <div class="dropdown-menu pull-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" v-on:click="update(item)">
                                    Editar
                                </a>
                                <a class="dropdown-item" v-on:click="eliminar(item)">
                                    Eliminar
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</raptor-table>



